@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-100;
    }

    h1 {
        @apply text-4xl mb-4;
    }

    ul {
        @apply list-inside list-disc text-lg mb-4;
    }

    ol {
        @apply list-decimal list-inside text-lg mb-4;
    }

    p {
        @apply mb-4 text-lg;
    }

    h2 {
        @apply text-2xl font-bold mb-4;
    }

    h3 {
        @apply text-xl font-bold mb-4;
    }

    h4 {
        @apply text-xl mb-4 underline;
    }

    h1:last-child, h2:last-child, h3:last-child, h4:last-child, p:last-child, ul:last-child {
        margin-bottom: 0;
    }

    a {
        @apply text-purple-600 hover:underline;
    }

    iframe {
        @apply w-full mb-4;
        height: 28.125rem;
    }
}

@layer utilities {
    .m-sidebar {
        margin-left: 20rem;
        max-width: calc(100vw - 20rem);
    }

    .w-sidebar {
    }

    .w-144 {
        width: 36rem;
    }
    
    .w-160 {
        width: 40rem;
    }

    .w-200 {
        width: 50rem;
    }
    
    .w-240 {
        width: 60rem;
    }

    .w-192 {
        width: 48rem;
    }

    .max-w-2xs {
        max-width: 16rem;
    }

    .max-w-3xs {
        max-width: 12rem;
    }

    .max-w-4xs {
        max-width: 8rem;
    }

    .max-w-5xs {
        max-width: 4rem;
    }
    
}

@screen xl {
    .w-sidebar {
        @apply w-80;
    }
}